#global_page_ynadvsearch-search-auction-search ul.global_form_box
{
	background: transparent !important;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li
{
	border-width: 1px;
	border-style: solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 100% !important;
	margin: 0;
	clear: none;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li:nth-child(2n+1)
{
	clear: left;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li:nth-child(2n)
{
	margin-right: 0;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li > div:first-child
{
	width: 70px;
	min-height: 80px;
	padding: 0.5em !important;
	margin-right: 0.5em;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li > div:first-child > a
{
	display: block;
	text-align: center;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li > div:first-child > a img
{
	max-width: 100% !important;
	max-height: 66px !important;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li > div:first-child > div
{
	left: 4px !important;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .contentbox
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: none !important;
	width: 100% !important;
	padding: 0.3em !important;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .contentbox #title
{
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynprice
{
	border-top-width: 1px;
	border-style: solid;
	margin-top: 6px;
	padding-top: 3px;
	clear: left;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynprice > div
{
	width: 33% !important;
	min-width: 120px;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynprice:after
{
	content: '';
	display: block;
	clear: both;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynprice .label
{
	color: #999999;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynprice .price
{
	color: #f77c04;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynclockcont
{
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: none;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynclockcont .label
{
	text-align: left;
	padding-left: 0;
	font-size: 14px;
	font-weight: normal;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box li .ynclockcont .secactive span
{
	font-size: 18px;
}

#global_page_ynadvsearch-search-auction-search ul.global_form_box:after
{
	content: '';
	display: block;
	clear: both;
}
