#global_page_ynadvsearch-search-contest-search .yncontest_contest_info
{
	margin-top: 2px;
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img
{
	overflow: visible;
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .wrap_link
{
	left: -5px;
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .link span,
#global_page_ynadvsearch-search-contest-search  .layout_left .wrap_link .link
{
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 9px;
	padding: 3px;
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .desc_contest,
#global_page_ynadvsearch-search-contest-search  ul.ynContest_listCompare .wrap_images .desc_contest
{
	padding: 3px 0px;
	background: url(../images/transparent_contest.png) repeat-x;
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .link,
#global_page_ynadvsearch-search-contest-search  .layout_left .link
{
	margin-bottom: 1px;
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .link span
{
	padding-left: 12px;
	position: relative;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .link span:before
{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 100%;
	background: rgba(0, 0, 0, .2);
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .link span.ending_soon
{
	background: rgba(30, 146, 10, 1);
	background: -moz-linear-gradient(left, rgba(30, 146, 10, 1) 0%, rgba(39, 171, 6, 1) 22%, rgba(52, 207, 0, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(30, 146, 10, 1)), color-stop(22%, rgba(39, 171, 6, 1)), color-stop(100%, rgba(52, 207, 0, 1)));
	background: -webkit-linear-gradient(left, rgba(30, 146, 10, 1) 0%, rgba(39, 171, 6, 1) 22%, rgba(52, 207, 0, 1) 100%);
	background: -o-linear-gradient(left, rgba(30, 146, 10, 1) 0%, rgba(39, 171, 6, 1) 22%, rgba(52, 207, 0, 1) 100%);
	background: -ms-linear-gradient(left, rgba(30, 146, 10, 1) 0%, rgba(39, 171, 6, 1) 22%, rgba(52, 207, 0, 1) 100%);
	background: linear-gradient(to right, rgba(30, 146, 10, 1) 0%, rgba(39, 171, 6, 1) 22%, rgba(52, 207, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e920a', endColorstr='#34cf00', GradientType=1 );
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .link span.premium
{
	background: rgba(220, 29, 42, 1);
	background: -moz-linear-gradient(left, rgba(220, 29, 42, 1) 0%, rgba(236, 43, 46, 1) 22%, rgba(254, 58, 51, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220, 29, 42, 1)), color-stop(22%, rgba(236, 43, 46, 1)), color-stop(100%, rgba(254, 58, 51, 1)));
	background: -webkit-linear-gradient(left, rgba(220, 29, 42, 1) 0%, rgba(236, 43, 46, 1) 22%, rgba(254, 58, 51, 1) 100%);
	background: -o-linear-gradient(left, rgba(220, 29, 42, 1) 0%, rgba(236, 43, 46, 1) 22%, rgba(254, 58, 51, 1) 100%);
	background: -ms-linear-gradient(left, rgba(220, 29, 42, 1) 0%, rgba(236, 43, 46, 1) 22%, rgba(254, 58, 51, 1) 100%);
	background: linear-gradient(to right, rgba(220, 29, 42, 1) 0%, rgba(236, 43, 46, 1) 22%, rgba(254, 58, 51, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc1d2a', endColorstr='#fe3a33', GradientType=1 );
}

#global_page_ynadvsearch-search-contest-search ul.large_contest_list .contest_large_img .link span.feature
{
	background: rgba(28, 148, 218, 1);
	background: -moz-linear-gradient(left, rgba(28, 148, 218, 1) 0%, rgba(42, 161, 226, 1) 22%, rgba(51, 171, 231, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28, 148, 218, 1)), color-stop(22%, rgba(42, 161, 226, 1)), color-stop(100%, rgba(51, 171, 231, 1)));
	background: -webkit-linear-gradient(left, rgba(28, 148, 218, 1) 0%, rgba(42, 161, 226, 1) 22%, rgba(51, 171, 231, 1) 100%);
	background: -o-linear-gradient(left, rgba(28, 148, 218, 1) 0%, rgba(42, 161, 226, 1) 22%, rgba(51, 171, 231, 1) 100%);
	background: -ms-linear-gradient(left, rgba(28, 148, 218, 1) 0%, rgba(42, 161, 226, 1) 22%, rgba(51, 171, 231, 1) 100%);
	background: linear-gradient(to right, rgba(28, 148, 218, 1) 0%, rgba(42, 161, 226, 1) 22%, rgba(51, 171, 231, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c94da', endColorstr='#33abe7', GradientType=1 );
}