/*----- Styles the compose blog entry create form. -----*/

#ynblogs_create div.form-label
{
  float: none;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 5px 0px;
}
html[dir="rtl"] #ynblogs_create div.form-label
{
  text-align: right;
}
#ynblogs_create div.form-element
{
  float: none;
}

/*----- Style for manage blog papge. -----*/
/*
BROWSE BLOGS
Styles the browse blogs page and the
manage blog entries page.
*/
ul.ynblogs_browse
{
  clear: both;
}
ul.ynblogs_browse span h3
{
  margin: 0;
}
ul.ynblogs_browse > li
{
  clear: both;
  padding: 0px 0px 15px 0px;
}
ul.ynblogs_browse > li + li
{
  border-top-width: 1px;
  padding-top: 15px;
}
ul.ynblogs_browse > li .ynblogs_browse_photo
{
  float: left;
  overflow: hidden;
  margin-right: 8px;
}
html[dir="rtl"] ul.ynblogs_browse > li .ynblogs_browse_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 8px;
}
ul.ynblogs_browse > li .ynblogs_browse_options
{
  float: right;
  overflow: hidden;
  padding-left: 20px;
}
html[dir="rtl"] ul.ynblogs_browse > li .ynblogs_browse_options
{
  float: left;
  padding-left: 0px;
  padding-right: 20px;
}
ul.ynblogs_browse > li .ynblogs_browse_options > a
{
  clear: both;
  display: block;
  margin: 5px;
  font-size: .8em;
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.ynblogs_browse > li .ynblogs_browse_info
{
  overflow: hidden;
}
ul.ynblogs_browse > li .ynblogs_browse_info_title
{
  font-weight: normal;
}
ul.ynblogs_browse > li > div > div > font.ynblogs_browse_info_status_1
{
  color: red;
  font-size: 8pt;
}
ul.ynblogs_browse > li > div > div > font.ynblogs_browse_info_status_0
{
  color: green;
  font-size: 8pt;
}
ul.ynblogs_browse > li > div > div > font.ynblogs_browse_info_status_2
{
  color: blue;
  font-size: 8pt;
}
ul.ynblogs_browse > li .ynblogs_browse_info_date
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.ynblogs_browse > li .ynblogs_browse_info_blurb
{
  margin-top: 5px;
}

.layout_ynblog_browse_search,
.layout_ynblog_browse_menu_quick
{
  margin-bottom: 15px;
}

.layout_page_ynblog_index_view .layout_core_content
{
  margin-bottom: 15px;
}
.layout_page_ynblog_index_view .layout_core_comments h3
{
  display: none;
}

/*----- Blog Content Layout -----*/
ul.ynblogs_entrylist
{
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
ul.ynblogs_entrylist > li
{
  padding-bottom: 10px;
  border-bottom-width: 1px;
  margin-bottom: 10px
}
ul.ynblogs_entrylist h3
{
  margin-bottom: 1px;
}
ul.ynblogs_entrylist .ynblog_entrylist_entry_date
{
  font-size: 8pt;
  margin-bottom: 5px;
  color: $theme_font_color_light;
}
ul.ynblogs_entrylist .ynblog_entrylist_entry_body
{
  background: #FFF;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  text-align: justify;
  border: 1px solid #C2C5CA;
  border-top: 0;
  line-height: 1.5em;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}
ul.ynblogs_entrylist .ynblog_entrylist_entry_body img
{
  max-width: 100%;
}
ul.ynblogs_entrylist .ynblog_entrylist_entry_body + .buttonlink
{
  margin-top: 5px;
}
ul.ynblogs_entrylist + .comments
{
  padding-top: 10px;
}
ul.ynblogs_entrylist .ynblog_entry_owner_photo{
  float: left;
  margin: 3px 5px 0px 5px;
}
/*----- Blog Widgets Style-----*/
#global_page_ynblog-index-view .ynblogs_owner_photo > img,
#global_page_ynblog-index-list .ynblogs_owner_photo > img
{
  margin: 5px auto;
  width: 94%;
  display: block;
}
#global_page_ynblog-index-view .ynblogs_owner_name,
#global_page_ynblog-index-list .ynblogs_owner_name
{
  display: block;
  font-weight: bold;
  margin: 7px 0px 7px 7px;
}
ul.ynblogs_gutter_options .buttonlink
{
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.ynblogs_gutter_options > li,
ul.ynblogs_gutter_options > li
{
  font-size: .8em;
  margin: 3px 0px 3px 0px;
}
ul.global_form_box li.ynblog_categories_blogs{
  font-weight: bold;
  padding: 5px 0px 5px 2px;
}

ul.global_form_box li.ynblog_categories_blogs a.rss_link{
  float:right;
}

ul.global_form_box div.ynblog_statistic_field{
  float: left;
}
ul.global_form_box div.ynblog_statistic_info{
  text-align: right;

  font-weight: bold;
}

ul.generic_list_widget li.ynblog_new {
  float:left;
  width: 325px;
  height:100px;
  clear:none;
  margin: 5px 5px 5px 15px;
  padding-bottom: 20px;
 /* border-bottom: 1px solid #CFD4D3; */
}

ul.generic_list_widget li.ynblog_new div.info div.description{
  text-align: justify;
  word-wrap: break-word;
}

.chartblock.chartblock-orange {
    background: none repeat scroll 0 0 #F75C39;
}
.chartblock.chartblock-blue {
    background: none repeat scroll 0 0 #0077CC;
}
.chartblock.chartblock-dark {
    background: none repeat scroll 0 0 #424242;
}
.chartblock {
    -moz-border-radius: 4px 4px 4px 4px;
    cursor: default;
    margin-bottom: 5px;
    padding: 5px 8px;
    position: relative;
}
.chartblock span.q {
    background: url(~/application/modules/Ynblog/externals/images/question_mark_1.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-indent: -9999px;
    width: 14px;
}
.chartblock h3 {
    color: #FFFFFF;
    display: inline;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.chartblock h4 {
    color: #FFFFFF;
    font-size: 13px;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 6px;
    border-bottom:none;
}

/* Featured Blogs - Slide Show */
.slideshow_container{
/*  background-color: none;*/
	border-color: $theme_foreground_border_color;
	border-width: 1px;
	margin-bottom: 20px;
	padding: 15px;
  max-width: 710px;
  +rounded;
}

.slideshow_container .blog_info
{
	margin-left: 220px;
}

.slideshow_container .blog_info .blog_title{
  font-size: 15px;
  color:#3BA3D0;
}

.slideshow_container .blog_info .blog_owner{
  font-size: 11px;
  color:#7E7E7E;
}

.slideshow_container .blog_info .blog_body{
  margin-top: 6px;
  word-wrap: break-word;
  text-align: justify;
}

.slideshow_action {
	background: url(~/application/modules/Ynblog/externals/images/slideshow_mark_0.png) no-repeat;
	color: #FFF;
	cursor: pointer;
	float: left;
	font-size: 0pt;
	padding: 8px;
}
.slideshow_action_active {
	color: #FFF;
	background: url(~/application/modules/Ynblog/externals/images/slideshow_mark_1.png) no-repeat;
	cursor: pointer;
}
.slideshow_action > span {
	display: none!important;
}
.dssSlideContainer
{
	max-height: 210px!important;
}
@media all and (min-width:0)
{
	.dssSlideContainer
	{
		width: 5000px\0/!important;
	}   IE9
}
.dssControlContainer
{
	float: right;
	text-align: right;
}
.dssControlContainer  .slideshow_action, .dssControlContainer  .slideshow_action + .slideshow_action
{
	display: none;
}
.dssControlContainer .slideshow_action, .dssControlContainer .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action
{
	margin-left: 5px;
}
.dssControlContainer .slideshow_action + .slideshow_action + .slideshow_action
{
	display: block;
}
.featured_blogs_img_wrapper
{
    float: left;
}
.featured_blogs_img
{
/*  border: 1px solid $theme_photo_border_color;*/
	width: 200px;
	height: 198px;
	overflow: hidden;
	text-align: center;
}

.featured_blogs_img > a > img {
        height: 200px;
        width :auto;
        border: none;
}

.layout_ynblog_blogs_side_menu{
    margin-bottom: 15px;
}

/*----- Blog Menu -----*/
.layout_ynblog_blogs_menu div.headline div.tabs ul.navigation >li{
  float:left;
}

/*----- Item Type Icons -----*/
.item_icon_ynblog,
.item_icon_ynblog_entry
{
  background-image: url(~/application/modules/Ynblog/externals/images/types/blog.png);
}

/*----- Icons -----*/
.icon_ynblog_new
{
  background-image: url(~/application/modules/Ynblog/externals/images/new.png);
}
.icon_ynblog_edit
{
  background-image: url(~/application/modules/Ynblog/externals/images/edit.png);
}
.icon_ynblog_delete
{
  background-image: url(~/application/modules/Ynblog/externals/images/delete.png);
}
.icon_ynblog_style
{
  background-image: url(~/application/modules/Ynblog/externals/images/blog_style.png);
}
.icon_ynblog_viewall
{
  background-image: url(~/application/modules/Ynblog/externals/images/allentries.png);
}
.icon_ynblog_subscribe
{
  background-image: url(~/application/modules/Ynblog/externals/images/subscribe.png);
}
.icon_ynblog_unsubscribe
{
  background-image: url(~/application/modules/Ynblog/externals/images/unsubscribe.png);
}
.icon_ynblog_become
{
  background-image: url(~/application/modules/Ynblog/externals/images/become_member.png);
}

/*** update Adv Blog Mobile View 12/16/2014 ***/
.rss_icon {
  display: none;
}

ul.generic_list_widget li.ynblog_new {
  width: 100%;
  height: auto;
  padding: 5px 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.generic_list_widget li.ynblog_new .title a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  margin-bottom: 3px;
}

ul.generic_list_widget li.ynblog_new div.info div.description {
  font-size: 12px;
  line-height: 18px;
  max-height: 54px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

#global_page_ynblog-index-view #global_content {
  padding: 0;
}

#global_page_ynblog-index-listing #global_content .layout_core_content,
#global_page_ynblog-index-view #global_content .layout_core_content {
  padding: 10px 0px;
}

#global_page_ynblog-index-listing ul.ynblogs_entrylist,
#global_page_ynblog-index-view ul.ynblogs_entrylist {
  padding: 0;
  margin: 0;
  border: 0;
}

.layout_ynblog_blogs_listing {
  +foreground();
  padding: 0.5em;

  ul.ynblogs_entrylist {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

#global_page_ynblog-index-edit #ynblogs_create,
#global_page_ynblog-import-import #blogs_import {
  padding: 0 10px;
}

ul.ynblogs_browse > li .ynblogs_browse_photo {
  margin-right: 0;
}

ul.ynblogs_browse > li .ynblogs_browse_options {
  padding-left: 0;
}

div.layout_page_ynblog_index_manage .layout_core_content ul li div.ynblogs_browse_info_title {
  position: static;
  margin-bottom: 5px;
  padding-top: 10px;

  a {
    color: #02a1dc !important;
    text-shadow: none !important;
    font-size: 15px !important;
    height: auto !important;
    line-height: 1 !important;
  }
}

div.layout_page_ynblog_index_manage .layout_core_content ul li div.ynblogs_browse_info {
  margin-right: 30px;
}

.layout_ynblog_featured_blogs {
  margin: 8px 0 !important;

  & > h3 {
    display: none;
  }

  #ynblog_navigation {
    +foreground();
    height: 120px;
    overflow: hidden;
    padding: 8px;

    & > #ynblog_navigation-slideshow {
      height: 120px;
      width: 100%;
      overflow: hidden;

      & > span {
        display: block;
        height: 120px;
        width: 100%;
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }          
    }

    .featured_blogs_img {
      width: 120px;
      height: 120px;

      img {
        max-width: 100%;
        height: auto;
      }      
    }

    .blog_info {
      padding: 0 10px;
      overflow: hidden;

      .blog_title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .blog_description {
        margin-top: 5px;
        line-height: 18px;
        max-height: 72px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}

/*** search fillter ***/
#ynblog_filter_form {
  padding: 5px 0 5px 2px;
  font-size: 12px;
  position: relative;
  background: #fff url(~/application/modules/Ynmobileview/externals/images/header_bar_menu.png) repeat-x bottom;
  margin: 0 -8px 10px -8px;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  
  #search {
    margin: 0 3px 0 15px!important;
    background: transparent!important;
    border: 0!important;
    -webkit-box-shadow: none;
    cursor: text;
    text-shadow: none;
    padding: 5px 7px 5px!important;
    font-weight: 400;
    font-size: 16px!important;
    width: 95%!important;
  }

  &:before {
    background-image: url(~/application/modules/Ynmobileview/externals/images/icon_sprites.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -5px -4px;
    content: '';
    height: 20px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 18px;
  }

  #category-wrapper, #mode-wrapper, #orderby-wrapper {
    display: none;
  }
}

.ynblog_entrylist_entry_body {
  ol {
    padding-left: 20px;
    list-style-type: decimal;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
}

div.layout_page_ynblog_index_manage .layout_core_content ul li div.ynblogs_browse_photo {
  display: none;
}