#global_page_ynvideo-index-index .layout_main .layout_right > div,
#global_page_ynvideo-index-index .layout_main .layout_middle > div,
.layout_ynvideo_browse_search form .form-elements div#search-wrapper,
#global_page_ynvideo-index-index .layout_main .layout_middle > div.layout_core_container_tabs ul#main_tabs > li,
#global_page_ynvideo-index-list .layout_main .layout_right div,
#global_page_ynvideo-index-list .layout_main .layout_left div,
.layout_ynvideo_browse_search > h3
{
	display:none;
}

#global_page_ynvideo-index-index .layout_main .layout_right > div.layout_ynvideo_browse_search,
#global_page_ynvideo-index-index .layout_main .layout_middle > div.layout_ynvideo_list_featured_videos,
#global_page_ynvideo-index-index .layout_main .layout_middle > div.layout_core_container_tabs,
#global_page_ynvideo-index-index .layout_main .layout_middle > div.layout_core_container_tabs ul#main_tabs > li.tab_layout_ynvideo_list_recent_videos,
#global_page_ynvideo-index-index .layout_main .layout_middle > div.layout_core_container_tabs ul#main_tabs > li.tab_layout_ynvideo_list_recent_videos + li.tab_layout_ynvideo_list_popular_videos{
	display:block;
}

.layout_ynvideo_list_categories .generic_list_widget{
	padding:0!important;
}
.ynvideo-category{
	width: 100%;
}
.ynmb_siteBody .ynvideo-category a {
	color: #C4CCDA;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 0 6px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #242a37;
	border-top: 1px solid rgba(255, 255, 255, .08);
}
.ynmb_siteBody .ynvideo-category a:link,
.ynmb_siteBody .ynvideo-category a:visited{
	color: #C4CCDA;
}
.ynmb_siteBody .ynvideo-category td.active a:link,
.ynmb_siteBody .ynvideo-category td.active a:visited{
	background-color: #262c3a;
	border-top: 1px solid transparent;
}
.ynvideo-category td > img{
	display:none;
}
/*
 * Slideshow
 */
.callbacks .ynvideo_featured_frame > .ynvideo_feature_user_thumb{
	width:48px;
	height:48px;
	float: left;
}
.ynvideo_featured_frame .ynvideo_featured_info{
	width: auto!important;
	float: none!important;
	margin-left: 56px;
}
.ynvideo_feature_info > div {
    float: left;
}
.ynvideo_feature_info > div.ynvideo_views{
	margin-top:5px;
}
.ynvideo_block {
    margin-top: 5px;
    overflow: hidden;
}

.rating_star_big {
    background-image: url(~/application/modules/Core/externals/images/star_big.png);
}
.ynvideo_rating_star_generic {
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    font-size: 1px;
    height: 16px;
    width: 16px;
}
/*
 * Widget home
 */
.video_thumb_wrapper{
	position:relative;
	float:left;
	margin-right:5px;
}
.video_button_add_to_area {
    bottom: 9px;
    position: absolute;
    right: 6px;
}
.video_thumb_wrapper button.ynvideo_uix_button {
    border: medium none;
    display: block;
}
ul.videos_browse > li{
	text-align:left!important;
	padding:0;
}
ul.videos_browse > li > *{
	overflow:hidden;
}
ul.videos_browse > li + li{
	margin-top:5px;
}
.video_author{
	text-align:left!important;
}
.ynvideo_uix_button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    /*background-image: linear-gradient(to bottom, #FFFFFF 0px, #E0E0E0 100%);*/
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 8px;
}
.ynvideo_plus {
    background: url(~/application/modules/Ynvideo/externals/images/plus.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px !important;
    width: 10px !important;
}
#global_page_ynvideo-index-index .layout_middle .layout_core_container_tabs ul.generic_list_widget{
	border:none!important;
	padding:0!important;
}
.layout_page_ynvideo_index_browse .layout_middle ul.videos_browse > li > a {
	line-height: 24px;
	max-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}
ul.ynvideo_videos_manage li .ynvideo_title a,
ul.videos_browse .ynvideo_title {
	display: block;
	font-size: 12pt;
	font-weight:bold;
	margin-top:10px;
}
#global_page_ynvideo-index-index .layout_core_container_tabs > .generic_layout_container{
	margin:-1px 0 0;
}
.layout_ynvideo_list_featured_videos{
	background: #fff;
	padding: 8px;
}
.layout_ynvideo_list_featured_videos .callbacks_container{
	margin:0;
	padding:0;
}
/*
 * View page
 */
#global_page_ynvideo-index-view .layout_main > .layout_right > div,
#global_page_ynvideo-index-view .layout_main > .layout_left > div,
#global_page_ynvideo-index-view .layout_main > .layout_middle > div
{
	display:none;
}
#global_page_ynvideo-index-view .layout_main > .layout_middle > div.layout_core_content,
#global_page_ynvideo-index-view .layout_main > .layout_middle > div.layout_core_comments
{
	display: block;
}
.ynvideo_video_view_headline{
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	font-size: 18px;
	text-align: left!important;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-left-color: #C2C5CA;
	border-right-color: #C2C5CA;
	border-top-color: #C2C5CA;
	border-bottom-color: #C2C5CA;
	margin-bottom: 0!important;
	margin-top:8px;
	padding:8px;
}
.ynvideo_video_view_headline .ynvideo_video_view_title{
	font-size:18px;
	font-weight:bold;
}
.ynvideo_video_view_headline .ynvideo_video_info{
	padding-bottom:8px;
}
.layout_page_ynvideo_index_view .layout_core_content > .video_view_container{
	background:#fff;
	z-index:1;
	position:relative;
}
span.view_html5_player
{
	position: relative;
	padding-bottom: 59.25%;
	height: 0!important;
	overflow: hidden;
	z-index:0;
	display:block;
}
.layout_page_ynvideo_index_view .layout_core_content .video_view_container .view_html5_player
{
	padding-bottom: 56.25%;
}
.layout_page_ynvideo_index_view .layout_core_content > .video_view_container .view_html5_player video#my_video,
.layout_page_ynvideo_index_view .layout_core_content > .video_view_container .view_html5_player img.thumb_video
{
	width: 100%;
	position: absolute;
	z-index: 0;
	height:100%;
}

.layout_page_ynvideo_index_view .ynvideo_video_view_description,
.layout_page_ynvideo_index_view .layout_core_content > .video_view_container .video_embed
{
	margin-top:0;
	border-left:1px solid #C2C5CA;
	border-right:1px solid #C2C5CA;
	padding-top:8px;
	margin-bottom:0;
}
div.video_view .video_embed object,
div.video_view .video_embed embed
{
  max-width: 100%;
  max-height: none;
}
#global_page_ynvideo-index-view .video_view_container *,
#global_page_ynvideo-index-view .video_view_container .ynvideo_video_show_less *,
#global_page_ynvideo-index-view .video_view_container #ynvideo_video *,
#global_page_ynvideo-index-view .video_view_container .ynvideo_video_view_description *{
	font-size: 12px!important;
}
div.video_view .rating {
    height: 25px;
}
.ynvideo_rating_star_big {
    background-image: url(~/application/modules/Ynvideo/externals/images/star_big.png);
}
.ynvideo_rating_star_big_generic {
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1px;
    height: 24px;
    width: 24px;
}
.ynvideo_rating_star_big
{
    background-image: url(~/application/modules/Ynvideo/externals/images/star_big.png);
}
.ynvideo_rating_star_big_half
{
    background-image: url(~/application/modules/Ynvideo/externals/images/star_big_half.png);
}
.ynvideo_rating_star_big_disabled
{
    background-image: url(~/application/modules/Ynvideo/externals/images/star_big_disabled.png);
}
html[dir="rtl"] .ynvideo_rating_star_big_half
{
    background-image: url(~/application/modules/Ynvideo/externals/images/star_big_half_rtl.png);
}
n 
.ynvideo_rating_star_big_disabled {
    background-image: url(~/application/modules/Ynvideo/externals/images/star_big_disabled.png);
}
div.video_view .rating #rating_text{
	margin-top: 6px;
}
div.video_view .video_date, 
div.video_view .video_desc,
.ynvideo_video_view_description > div{
	text-align:left;
}
div.video_view .video_desc .ynvideo_text_header{
	display:none;
}

div.video_view .video_desc{
	padding:8px 0;
}
.ynvideo_video_view_description .video_tags > div,
.ynvideo_video_view_description .video_category > div{
	display:inline-block;
	margin-right:5px;
}
.ynvideo_video_view_description .video_tags > a,
.ynvideo_video_view_description .video_category > a{
	font-weight:bold;
}
.video_view_container .ynvideo_show_less_more{
	padding:8px;
	border-left:1px solid #C2C5CA;
	border-right:1px solid #C2C5CA;
	clear:both;
}
.layout_page_ynvideo_index_view .layout_middle .video_options{
	border-left:1px solid #C2C5CA;
	border-right:1px solid #C2C5CA;
	padding:8px 8px;
	background:#fff;
}
#ynvideo_div_send_friend {
    display: none;
}
.ynvideo_center.ynvideo_block,
div.layout_page_ynvideo_index_view .layout_core_content #ynvideo_from_send_to_friends button{
	text-align:center;
}
#global_page_ynvideo-video-embed #global_content_simple > div > div > a,
.ynvideo_center.ynvideo_block > .ynvideo_bold_link{
	background: -webkit-linear-gradient(#fdfefe, #f0f1f2);
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	color: #505c77;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	border: 1px solid;
	border-color: #ccc #c0c1c2 #bdbec0;
	line-height: 25px;
	height: auto;
	border-radius: 4px;
	padding: 5px 10px;
	display: inline-block;
	min-width: 100px;
	text-align: center;
	width: auto;
	text-transform:capitalize;
}
.ynvideo_video_view_description > .right{
	position:relative;
}
/*
 * option list
 */
#ynvideo_addTo_menu_list {
    position: absolute;
}
.ynvideo_addTo_frame {
	background:#EFEFEF;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: linear-gradient(to bottom, #FFFFFF 0px, #EFEFEF 100%);
    border-color: #CCCCCC;
    border-image: initial;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    float: left;
    height: 295px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 235px;
    z-index: 997;
}
#ynvideo_addTo_loading {
    background-image: url(~/application/modules/Ynvideo/externals/images/loading_icon.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    margin: auto;
    padding-top: 35px;
    text-align: center;
    width: 100px;
}
.ynvideo_addTo_frame .ynvideo_add_to_menu_item {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #666666;
    font-weight: bold;
    line-height: 14px;
    margin: 0 8px;
    padding: 6px;
}
.ynvideo_addTo_frame .ynvideo_addTo_playlists {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    height: 180px;
    margin: 6px 0;
    overflow-y: auto;
    padding-bottom: 6px;
    padding-right: 6px;
    position:relative;
}
.ynvideo_addTo_frame .ynvideo_addTo_cancel
{
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	margin: 5px 0;
}
.ynvideo_addTo_frame #ynvideo_menu_item_cancel
{
	padding-top: 10px;
}
.ynvideo_addTo_frame .ynvideo_addTo_text {
    font-size: 0.8em;
    padding-left: 14px;
    padding-top: 5px;
}
.ynvideo_video_view_description > .right > .video_button_add_to_area{
	position: static;
	display: inline-block;
}
.ynvideo_addTo_result_block {
    border-bottom: 1px solid #DDDDDD;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.ynvideo_addTo_result_text {
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: bold;
    height: 34px;
    margin: auto;
    padding: 8px 17px 8px 34px;
    text-align: center;
}
.ynvideo_addTo_successfully {
    background-image: url(~/application/modules/Ynvideo/externals/images/check.png);
}
#ynvideo_addTo_unsuccessfully
{
	height: 104px;
}
#ynvideo_addTo_dupplicate ,
#ynvideo_addTo_new_playlist_successfully
{
	height: 118px;
}
#ynvideo_addTo_unsuccessfully .ynvideo_addTo_cancel,
#ynvideo_addTo_dupplicate .ynvideo_addTo_cancel,
#ynvideo_addTo_new_playlist_successfully .ynvideo_addTo_cancel
{
	margin: 0;
}
#ynvideo_addTo_new_playlist
{
	height: 258px;
}
/*
 * Listing
 */
body[id*='_ynvideo'] ul.ynvideo_videos_manage > li,
body[id*='_ynvideo'] .layout_ynvideo_list_videos ul.videos_browse > li{
	border-radius: 3px;
	border: 1px solid #C2C5CA;
	-webkit-box-shadow: 0 0 0;
	background:#fff;
	padding:2px;
	clear:both;
	min-height:110px;
}
body[id*='_ynvideo'] ul.ynvideo_videos_manage > li.ynvideo_pages{
	min-height:0;
	background:none;
	border:none;
}
body[id*='_ynvideo']  .ynvideo_videos_list > .ynvideo_category_title > a{
	color: #000!important;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0;
	display: block;
}

ul.ynvideo_videos_manage .video_options {
    float: right;
    padding-left: 15px;
    width: 120px;
}
.icon_ynvideo_edit {
    background-image: url(~/application/modules/Ynvideo/externals/images/edit.png);
}
.icon_ynvideo_delete {
    background-image: url(~/application/modules/Ynvideo/externals/images/delete.png);
}
.icon_ynvideo_remove
{
    background-image: url(~/application/modules/Ynvideo/externals/images/delete.png);
}
.icon_ynvideo_add_to_group
{
    background-image: url(~/application/modules/Ynvideo/externals/images/to-group.png);
}
.icon_ynvideo_remove_from_group
{
    background-image: url(~/application/modules/Ynvideo/externals/images/leave-group.png);
}
body[id*='_ynvideo-'] ul.ynvideo_videos_manage .video_options a {
    clear: both;
    font-size: 0.8em;
    height: 16px;
    margin: 3px 0 0;
    padding-top: 1px;
}
body[id*='_ynvideo-'] ul.ynvideo_videos_manage li .video_info .video_stats .video_views{
	text-align:left;
}
body[id*='_ynvideo-'] ul.ynvideo_videos_manage li + li{
	margin-top:8px;
}
.video_stats > .ynvideo_block{
	margin-top:0;
	margin-bottom:10px;
}
 body[id*='_ynvideo-'] .ynvideo_videos_manage li .video_info{
	clear: both;
	padding:0 8px 8px;
}
a.buttonlink.ynvideo_playlist_delete {
    background-image: url(~/application/modules/Ynvideo/externals/images/delete.png);
}
a.buttonlink.ynvideo_playlist_edit {
    background-image: url(~/application/modules/Ynvideo/externals/images/edit.png);
}
div[class$='_ynvideo_index_list'] .ynvideo_category_title + h4,
div[class$='_ynvideo_index_list'] .ynvideo_category_title,
.layout_ynvideo_list_manage_videos > h2,
.layout_ynvideo_list_my_favorite_videos > h2,
.layout_ynvideo_list_my_watch_later_videos > h2,
.ynvideo_playlist_headline {
	background:#fff;
	border:1px solid #C2C5CA;
	border-radius:4px 4px 0 0;
}

div[class$='_ynvideo_index_list'] .ynvideo_category_title + h4,
div[class$='_ynvideo_index_list'] .ynvideo_category_title,
.layout_ynvideo_list_manage_videos > h2,
.layout_ynvideo_list_my_favorite_videos > h2,
.layout_ynvideo_list_my_watch_later_videos > h2,
.ynvideo_playlist_headline > *{
	padding:8px;
}
div[class$='_ynvideo_index_list'] .ynvideo_category_title + h4{
	border-radius: 0;
	border-top:none;
}
.layout_ynvideo_list_manage_videos > h2,
.layout_ynvideo_list_my_favorite_videos > h2,
.layout_ynvideo_list_my_watch_later_videos > h2{
	margin-bottom:0;
}
.layout_ynvideo_list_manage_videos > h2,
.layout_ynvideo_list_my_favorite_videos > h2,
.ynvideo_playlist_headline > h2{
	border-bottom:1px solid #C2C5CA;
	margin-bottom:0;
	margin-top:0;
}
.ynvideo_playlist_headline_control > span > a.ynvideo_playlist_add{
	margin-top: 0;
	padding-left: 0;
	margin-bottom: 8px;
}
#global_page_ynvideo-index-manage .ynvideo_videos_manage > h3,
#global_page_ynvideo-favorite-index .ynvideo_videos_manage > h3,
#global_page_ynvideo-watch-later-index .ynvideo_videos_manage > h3,
#global_page_ynvideo-playlist-index .ynvideo_videos_manage > h3{
	border-radius:0 0 4px 4px;
	border:1px solid #C2C5CA;
	border-top:none;
	background:#fff;
	padding:8px;
	margin-bottom:10px;
}
#global_page_ynvideo-index-manage .ynvideo_videos_manage > h3{
	/*border-radius:4px;*/
	border:1px solid #C2C5CA;
	border-top:0;
}
#global_page_ynvideo-index-manage .layout_ynvideo_list_manage_videos .tip + br + ul.ynvideo_videos_manage > h3{
	border-radius:4px;
	border:1px solid #C2C5CA;
}
/*
 * Edit Video
 */
body#global_page_ynvideo-playlist-create #global_content,
body#global_page_ynvideo-index-edit #global_content{
	background:#fff;
}
body#global_page_ynvideo-playlist-create #global_content .global_form,
body#global_page_ynvideo-index-edit #global_content .global_form{
	padding:8px;
}

body#global_page_ynvideo-index-edit #global_content .global_form div.form-elements button[type="submit"]{
	width:100%;
}
/*
 * Playlist
 */
#global_page_ynvideo-playlist-view .ynvideo_playlist_headline{
	position:relative;
}

#global_page_ynvideo-playlist-view .ynvideo_playlist_headline h2{
	border-bottom:none;
	margin-right:80px;
	word-wrap: break-word;
}
#global_page_ynvideo-playlist-view  .ynvideo_date.ynvideo_block,
#global_page_ynvideo-playlist-view .ynvideo_playlist_detail_description{
	background:#fff;
	border-left:1px solid #C2C5CA;
	border-right:1px solid #C2C5CA;
	padding:8px;
	margin-top:0;
	min-height:15px;
}
#global_page_ynvideo-playlist-view  .ynvideo_date.ynvideo_block{
	border-bottom:1px solid #C2C5CA;
}
#global_page_ynvideo-playlist-view .ynvideo_playlist_headline .ynvideo_playlist_headline_control{
	border:none;
	position:absolute;
	right:5px;
	top:5px;
	padding:0;
}
#global_page_ynvideo-playlist-view .ynvideo_playlist_headline .ynvideo_playlist_headline_control a{
	margin-top:0;
}
#global_page_ynvideo-playlist-view .ynvideo_playlist_headline .ynvideo_playlist_headline_control a + a{
	margin-top:-5px;
}
#global_page_ynvideo-playlist-view .ynvideo_videos_manage{
	margin-top:0;
}
#global_page_ynvideo-playlist-view .ynvideo_videos_manage h3{
	background:#fff;
	border:1px solid #C2C5CA;
	border-radius:0 0 4px 4px;
	padding: 8px;
	margin-bottom: 8px;
	border-top:none;
}

/* ACTION TYPE ICONS */
.activity_icon_comment_video
{
    background-image: url(~/application/modules/Core/externals/images/types/post.png);
}

/* ITEM TYPE ICONS */
.item_icon_video
{
    background-image: url(~/application/modules/Ynvideo/externals/images/types/video.png);
}

.item_icon_ynvideo_playlist {
    background-image: url(~/application/modules/Ynvideo/externals/images/types/playlist.png);
}

/* NOTIFICATION TYPE ICONS */
.notification_type_ynvideo_processed,
.notification_type_ynvideo_processed_failed
{
  background-image: url(~/application/modules/Ynvideo/externals/images/new.png);
}
#global_page_ynvideo-index-create .tip{
	margin:8px 0;
}
ul.videos_browse{
	margin-top:5px;
}
ul.ynvideo_frame > li + li{
	margin-top:5px;
}

/*
 * Video detai;
 */
[11:09:16 AM] Nguyễn Công Minh: ul.ynvideo_videos_manage .video_title
{
    margin-bottom: 1px;
    margin-left: -1px;
}
html[dir="rtl"] ul.ynvideo_videos_manage .video_title
{
    margin-left: 0px;
    margin-right: -1px;
}
ul.ynvideo_videos_manage .video_author
{
    font-size: .8em;
    display: block;
}
ul.ynvideo_videos_manage .video_stats
{
    margin-top: 2px;
}
ul.ynvideo_videos_manage .video_stats > span
{
    font-size: .8em;
    color: $theme_font_color_light;
}
.ynvideo_show_less_more {
    text-align: center;
}

.ynvideo_video_show_less {
    overflow: hidden;
    height: 120px;
   
}
.ynvideo_video_show_less .video_desc{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.ynvideo_link_more {
    background: url(~/application/modules/Ynvideo/externals/images/show_more.png) no-repeat;
    padding-right: 16px;
    background-position: right;
}

.ynvideo_link_less {
    background: url(~/application/modules/Ynvideo/externals/images/show_less.png) no-repeat;
    padding-right: 16px;
    background-position: right;
}
.ynvideo_video_view_description .video_button_add_to_area > button.ynvideo_add_button {
    filter: none;
    background-color: transparent !important;
    background-image: url(~/application/modules/Ynvideo/externals/images/addto_btn_r.png) !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    border: 0 none !important;
    height: auto !important;
    padding: 0 20px 0 0 !important;
}

.ynvideo_video_view_description .video_button_add_to_area > button.ynvideo_add_button > div {
    background-image: url(~/application/modules/Ynvideo/externals/images/addto_btn_l.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 14px 5px 9px 30px;
}
/*
 * Fix bug
 */
.video_views{
	display:block;
}
@media screen and (max-width: 320px) {
	.video_thumb_wrapper img{
		max-width: 100px;
	}

}

a.buttonlink.ynvideo_playlist_add {
	background-image: url(~/application/modules/Ynvideo/externals/images/new.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 21px!important;
	display: block;
}
.ynvideo_video_view_description .video_tags
{
	padding-top:8px;
}
/*
 * Edit playlist
 */
#global_page_ynvideo-playlist-edit #global_content{
	background:#fff;
	padding:8px;
}
body#global_page_ynvideo-playlist-edit form.global_form div.form-elements button[type="submit"]{
	width:100%;
}
.ynvideo_menu_item_playlist,
.ynvideo_addTo_playlist_text{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.ynvideo_addTo_playlist_text{
	padding:0 5px;
}
.ynvideo_block {
	margin-top: 5px;
	overflow: hidden;
	word-wrap: break-word;
}
.layout_ynvideo_list_categories ul.generic_list_widget{
	border-top:none!important;
}
#ynvideo_send_result {
    color: #546D50;
    background-color: #E3F2E1;
    border: 2px solid #D2E5CF;
    padding: .5em .75em .5em .75em;
    display: none;
    margin: 5px 0;
}

.ynvideo_watched {
    background-color: #E0E0E0;
    border: 1px solid #555555;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 1px 8px;
}
.feed_item_attachments .video_desc{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#global_page_ynvideo-index-create div[class$="_index_create"] form.global_form div.form-element button[type="submit"]{
	width:100%;
}
.ynvideo_quick_create_playlist div.form-elements{
	padding:0 5px 5px;
}
.ynvideo_quick_create_playlist.global_form input + label{
	width:auto;
}
form.ynvideo_quick_create_playlist.global_form
{
	background:#fff;
}
.paginator_previous,
.paginator_next
{
	position: relative;
	background-color: #FFF;
	border-radius: 3px;
	border: 1px solid #C2C5CA;
	-webkit-box-shadow: 0 0 0;
}
.layout_ynvideo_list_recent_videos .clear,
.layout_ynvideo_list_popular_videos .clear
{
	clear: none!important;
}
.paginator_previous a,
.paginator_next a
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: .4em 0.7em .4em 1.7em;
	font-weight: bold;
	font-size: 11pt;
	background-color: transparent;
}
.paginator_next a.icon_next,
.paginator_previous a.icon_previous
{
	background-position: 5px 7px!important;
}
div.video_object.html5_player
{
	position: relative;
	padding-bottom: 59.25%;
	height: 0!important;
	overflow: hidden;
	margin: 0 -14px 5px;
	z-index:0;
}
#global_page_ynmobileview-feed-status div.video_object.html5_player
{
	padding-bottom: 56.25%;
	margin: 0 0px 5px;
}
div.video_object.html5_player > video#my_video,
div.video_object.html5_player > img.thumb_video
{
	width: 100%;
	position: relative;
	z-index: 0;
	height:100%;
}
.select_file
{
	padding-bottom:8px;
}
#demo-status-overall
{
	display: none;
	padding-bottom: 8px;
}
.file_info
{
	padding-bottom: 8px;
}
#demo-status-overall .progress
{
	background-position: +50% 0;
	margin-right: 0.5em;
	vertical-align: middle;
	background-image: url(~/externals/fancyupload/assets/progress-bar/progress.gif);
}
#file_info > div 
{
	color: #B4AAAA;
	font-style: italic;
}
.video_view_container img.thumb_video,
div.video_object.html5_player > img.thumb_video
{
	display: none;
}
.video_thumb
{
	display: none;
}