/*** ynmember mixin ***/
*[class^=ynmember],
*[class^=ynmember] li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.ynmember-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.ynmember-clearfix {
    display: inline-block;
}

.ynmember-profile-image {
	display: inline-block;
	content: "";
	background-color: $theme_border_color;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ynmember-container {
	+foreground();
}

html[xmlns] .ynmember-clearfix {
    display: block;
}
 
* html .ynmember-clearfix {
    height: 1%;
}

@constants
{
	ynmember_column_left: 172px;
	ynmember_online_color: #81d735;
	ynmember_offline_color: #999999;
}

=ynmember-text-overflow 
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

=ynmember-border-radius($radius = 3px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
/*** end mixin ***/

*[class^=ynmember] i {
	min-width: 18px;
	color: $theme_border_dark_color;
	text-align: center;
}

*[class^=ynmember-icon-social] {
	border: 1px solid $theme_border_color;
	background-color: $theme_body_background_color;
	width: 30px;
	height: 30px;
	line-height: 34px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	+ynmember-border-radius(15px);

	&.ynmember-icon-social-facebook:hover {
		border: 1px solid #3b5998;
		background-color: #3b5998;
	}

	&.ynmember-icon-social-twitter:hover {
		border: 1px solid #34cbf7;
		background-color: #34cbf7;
	}

	i {
		font-size: 18px;
	}

	&:hover i {
		color: #fff;
	}
}

.ynmember_block {
	overflow: hidden;
	margin-top: 5px;
}

.ynmember_rating_star_generic {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	font-size: 1px;
}

.ynmember_rating_star_big_generic {
	width: 24px;
    height: 24px;
    float: left;
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 1px;
    cursor: pointer;
}
.notification_type_ynmember_notification_join, 
.notification_type_ynmember_notification_status,
.notification_type_ynmember_notification_create,
.notification_type_ynmember_notification_post,
.notification_type_ynmember_notification_friends,
.notification_type_ynmember_notification_linkage,
.notification_type_ynmember_rated,
.notification_type_ynmember_notification_change_relationship
{
	background-image: url(~/application/modules/Ynmember/externals/images/get_notifications.png);
}

.notification_type_ynmember_liked
{
	background-image: url(~/application/modules/Ynmember/externals/images/like.png);
}
.notification_type_ynmember_shared
{
	background-image: url(~/application/modules/Ynmember/externals/images/share.png);
}

.ynmember_rating_star_big {
	background-image: url(~/application/modules/Ynmember/externals/images/star_big.png);
}

.ynmember_rating_star_big_half {
	background-image: url(~/application/modules/Ynmember/externals/images/star_big_half.png);
}

.ynmember_rating_star_big_disabled {
	background-image: url(~/application/modules/Ynmember/externals/images/star_big_disabled.png);
}

.ynmember_get_directions {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(~/application/modules/Ynmember/externals/images/get_directions.png);
}

.ynmember_edit_place{
	background-position: 3px -13px;
	background-image: url(~/application/modules/Ynmember/externals/images/edit_place.png);
	background-size: auto;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	color: #3b5998;
	display: inline-block;
}

.ynmember_edit_place_block{
	border: 1px dashed #5890ff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	margin-right: 12px;
	float: left;
	display: block;
}

.ynmember_edit_place_label{
	width: 100%;
	text-align: -webkit-match-parent;
	color: #5890ff;
	cursor: pointer;
	height: 30px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 30px;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.ynmember_location_icon {
	display: inline-block;
	vertical-align: middle;
}

#ynmember_direction {
	padding: 10px;
}
.ynmember_widget_location_direction_button {
	margin-top: 5px;
}
.ynmember_widget_location_destination {
	margin-top: 17px;
}
.ynmember_widget_location_direction {
	position: relative;
	
	label {
		min-width: 100px;
		text-align: right;
		margin-right: 10px;
		display: inline-block;
	}
	#pac-input {
		padding-right: 30px;
	}
	
	.close-btn {
		display: inline-block;
		background-color: $theme_link_color;
		color: $theme_body_background_color;
		width: 20px;
		height: 20px;
		text-align: center;
		cursor: pointer;
		margin-left: -29px;
		vertical-align: 3px;
	}
}

.ynmember-profile-cover-main {
	background-color: #fff;
	border: 1px solid $theme_border_color;
	position: relative;
	min-height: 200px;
	+ynmember-border-radius();

	margin-bottom: 1em;

	.ynmember-profile-info {
		position: relative;
		width: $theme_content_columns_left_width;
		float: left;

		margin-right: 1em;

		.ynmember-profile-information {
			padding: 1em;
			padding-right: 75px;

			.ynmember-profile-information-title {
				font-size: 1.2em;
				font-weight: bold;
				color: $theme_link_color;
				+ynmember-text-overflow();
			}

			.ynmember-profile-information-stats {
				margin: 1em 0;
				padding: 0.3em 0;
				width: 100%;
				border-top: 1px solid $theme_border_dark_color;
				border-bottom: 1px solid $theme_border_dark_color;

				div {
					padding: 0.2em 0;
					width: 40%;
					padding-right: 5%;
					display: inline-block;
					text-transform: uppercase;

					& > span:first-child {
						color: $theme_font_color;
						font-size: 1.2em;
						font-weight: bold;
						display: block;
					}

					& + div {
						padding-left: 5%;
						border-left: 1px solid $theme_border_color;
					}
				}
			}

			.ynmember-profile-information-joined,
			.ynmember-profile-information-lastupdate {
				font-size: 0.95em;
				line-height: 1.6em;

				i {
					color: $theme_font_color;
				}
			}		

		}

		.ynmember-profile-avatar {
			position: absolute;
			top: 15px;
			left: 150px;
			z-index: 1;

			& > span {
				padding: 3px;
				height: 166px;
				width: 166px;
				display: inline-block;
				background-color: $theme_body_background_color;
				+ynmember-border-radius(100px);
				text-align: center;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			span.ynmember-profile-image {
				border: 0;
				width: 160px;
				height: 160px;
				+ynmember-border-radius(80px);
			}
		}
	}

	.ynmember-profile-cover {
		position: absolute;
		width: 100%;
		height: 100%;
		padding-left: $theme_content_columns_left_width;
		padding-right: 1em;

		.ynmember-profile-cover-picture {
			margin-left: 1em;
			background-color: $theme_border_color;
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: top center;
		}
	}
}

.layout_ynmember_profile_fields {
	.profile_fields {
		margin-top: 1em;
	}

	.profile_fields > ul > li > span + span {
		width: auto;

		.fa {
			vertical-align: middle;
		}
	}
}

.layout_page_ynmember_review_detail {
	.ynmember-review-detail {
		.ynmember-review-detail-left {
			width: $ynmember_column_left;
			float: left;
			padding-right: 0.5em;

			* {
				text-align: center;
			}

			.ynmember-review-item-for {
				+ynmember-text-overflow;
				margin-bottom: 1em;

				a {
					font-weight: bold;
				}
			}

			.ynmember-review-item-avatar span.ynmember-profile-image {
				border: 0;
				width: 120px;
				height: 120px;
				+ynmember-border-radius(100px);
				overflow: hidden
			}

			.ynmember-review-item-userful {
				margin-top: 0.5em;
				a {
					font-weight: bold;
				}
			}

			.ynmember-review-item-show {
				margin-top: 1em;
			}
		}

		.ynmember-review-detail-main {
			padding: 0 0 1em 1em;
			overflow: hidden;
			border-left: 1px solid $theme_border_color;
		}
	}

	.layout_middle .layout_core_comments {
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 1em;
		margin-left: $ynmember_column_left !important;		
		border-left: 1px solid $theme_border_color;

		.comments > ul > li {
			padding: 0.5em;
		}
	}
}

.ynmember-review-title-top {
	border-bottom: 1px solid $theme_border_color;
	padding-bottom: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 1em;
}

.ynmember-review-item-main {			
	padding: 1.5em 0 2em 0;
	border-bottom: 1px solid $theme_border_color;
	
	.ynmember-review-item-rate {
		margin-bottom: 1em;

		span {
			display: inline-block;
			font-size: 0.9em;

			a { font-weight: bold; }

			&.ynmember-review-item-rating {
				margin-right: 1em;
			}
		}
	}

	h3.ynmember-review-item-title {
		background: transparent;
		font-size: 1.4em;
		padding: 0;
		color: $theme_link_color;

		.btn-ynmember-edit {
			font-size: 0.8em;
			color: $theme_font_color;
			background-color: $theme_border_color;
			padding: 3px 3px 3px 5px;
			+ynmember-border-radius();

			i {
				color: $theme_font_color;
			}
		}
	}

	.ynmember-review-item-description {
		margin: 1.5em 0 1em 0;
	}
	
}

.ynmember-review-detail-main {
	padding: 1.5em 0 2em 0;
	border-bottom: 1px solid $theme_border_color;
	
	.ynmember-review-item-rate {
		margin-bottom: 1em;

		span {
			display: inline-block;
			font-size: 0.9em;
			vertical-align: middle;

			a { font-weight: bold; }

			&.ynmember-review-item-rating {
				margin-right: 1em;
			}
		}

		.ynmember-review-item-rate-userful {
			float: right;
			line-height: 36px;

			div {
				display: inline-block;
				margin-left: 0.5em;
			}
		}

		.ynmember-review-item-rate-avatar span.ynmember-profile-image {
			border: 0;
			width: 36px;
			height: 36px;
			+ynmember-border-radius(20px);
		}
	}

	h3.ynmember-review-item-title {
		background: transparent;
		font-size: 1.4em;
		padding: 0;
		margin-bottom: 1em;
		color: $theme_link_color;

		.btn-ynmember-edit {
			font-size: 0.8em;
			color: $theme_font_color;
			background-color: $theme_border_color;
			padding: 3px 3px 3px 5px;
			+ynmember-border-radius();
		}
	}

	h3.ynmember-review-item-rating-title,
	h3.ynmember-review-item-field-tilte {
		margin-top: 1.5em;
		margin-bottom: 0.2em;
		font-size: 0.9em;
		font-weight: bold;
		color: $theme_link_color;
		text-transform: uppercase;
	}

	.ynmember-review-item-description {
		margin: 1.5em 0 1em 0;
	}

	.ynmember-review-item-rate-item {
		padding: 0 0.5em;
		margin-bottom: 0.2em;
		border-bottom: 1px solid $theme_border_color;

		.ynmember_label {
			float: left;
			font-weight: bold;
			line-height: 27px;
		}

		.ynmember_block {
			float: right;
		}
	}
}

.layout_page_ynmember_review_index {
	.ynmember-review-item {
		.ynmember-review-item-left {
			margin: 0.5em 0 1em 0;
			width: $ynmember_column_left;
			float: left;
			padding-right: 0.5em;		

			* {
				text-align: center;
			}

			.ynmember-review-item-for {
				+ynmember-text-overflow;
				margin-bottom: 1em;

				a {
					font-weight: bold;
				}
			}

			.ynmember-review-item-avatar span.ynmember-profile-image {
				border: 0;
				width: 120px;
				height: 120px;
				+ynmember-border-radius(100px);
				overflow: hidden
			}

			.ynmember-review-item-userful {
				margin-top: 0.5em;
				a {
					font-weight: bold;
				}
			}

			.ynmember-review-item-show {
				margin-top: 1em;
			}
		}

		.ynmember-review-item-main {			
			border-left: 1px solid $theme_border_color;			
			padding: 0 1em;	
			min-height: 250px;			
			overflow: hidden;	
			border-bottom: 0;
			margin-bottom: 1em;	
		}

		.ynmember-review-item-border {
			margin-left: $ynmember_column_left;
			height: 1px;
			background-color: $theme_border_color;
		}	
	}
}

.ynmember-review-user-avatar {
	margin-bottom: 1em;
}

.ynmember-review-user-main {
	& > * {
		display: block;
		+ynmember-text-overflow();
		margin-bottom: 0.2em;
	}

	.ynmember-review-user-title .ynmember-item-status {
		display: inline-block;
		width: 8px;
		height: 8px;
		vertical-align: middle;
		background-color: $ynmember_offline_color;
		+ynmember-border-radius(4px);

		&.online {
			background-color: $ynmember_online_color;
		}
	}


	.ynmember-review-user-rating {
		margin-top: 0.5em;
		padding: 0.2em 0.5em 0.4em 0.5em;
		background-color: $theme_border_color;
		+ynmember-border-radius();

		.ynmember-review-user-reviews {
			float: left;
			margin-top: 0.5em;
			color: $theme_link_color;
		}

		.ynmember_block {
			float: right;
		}
	}

	.ynmember-review-user-option {
		margin-bottom: 0.5em;
	}

	.ynmember-review-user-item {
		span + span {
			font-weight: bold;
			color: $theme_font_color;
		}

		a {
			font-weight: bold;
		}
	}
}

.layout_ynmember_full_review .ynmember-review-detail-main:first-child,
.layout_ynmember_general_review .ynmember-review-item-main:first-child {
	padding-top: 0;
}

.ynmember-most-item {
	padding: 0.5em 0;

	.ynmember-most-item-avatar {
		float: left;
		margin-right: 0.5em;
		position: relative;

		span.ynmember-profile-image {
			border: 0;
			width: 80px;
			height: 80px;
			+ynmember-border-radius(40px);			
		}

		.ynmember-btn-addfriend {
			position: absolute;
			right: 0px;
			bottom: 0px;

			i {
				background-color: $theme_link_color;
				color: #fff;
				font-size: 16px;
				width: 21px;
				height: 21px;
				text-align: center;
				overflow: hidden;
				line-height: 23px;
				+ynmember-border-radius(12px);
			}
		}
	}

	.ynmember-most-item-info {
		border-bottom: 1px solid $theme_border_color;
		min-height: 80px;
		overflow: hidden;

		& > * {
			display: block;
			+ynmember-text-overflow();
		}

		.ynmember-most-item-title {
			font-weight: bold;
			margin-bottom: 0.3em;
		}

		.ynmember-most-item-status {
			margin-bottom: 0.5em;
		}

		.ynmember-most-item-confirm a {
			background-color: $theme_link_color;
			color: $theme_body_background_color;
			padding: 0.3em 0.5em;
			+ynmember-border-radius();
			display: inline-block;
			text-decoration: none;
		}
	}
}

.ynmember-member-item {
	position: relative;
	margin-top: 80px;
	border: 1px solid $theme_border_color;
	border-bottom: 3px solid $theme_border_color;

	.ynmember-member-item-title {
		text-align: center;
		margin-top: 0.5em;
		font-size: 1.2em;
		+ynmember-text-overflow();

		.ynmember-member-item-status {
			display: inline-block;
			width: 8px;
			height: 8px;
			vertical-align: middle;
			background-color: $ynmember_offline_color;
			+ynmember-border-radius(4px);

			&.online {
				background-color: $ynmember_online_color;
			}
		}
	}	

	.ynmember-member-item-avatar {
		margin: -80px auto 0 auto;
		display: block;
		width: 160px;
		height: 165px;
		position: relative;

		span.ynmember-profile-image {
			width: 160px;
			height: 160px;
			+ynmember-border-radius(80px);
		}

		.ynmember-btn-addfriend {
			position: absolute;
			right: 15px;
			bottom: 5px;

			i {
				background-color: $theme_link_color;
				color: #fff;
				font-size: 18px;
				width: 24px;
				height: 24px;
				overflow: hidden;
				line-height: 26px;
				text-align: center;
				+ynmember-border-radius(12px);
			}
		}
	}

	.ynmember-member-item-info {
		line-height: 1.4em;

		.ynmember-member-item-more {
			height: 90px;
			padding-top: 10px;

			span {
				display: block;
				text-align: center;
				+ynmember-text-overflow();
			}
		}		
	}

	.ynmember-review-item-rating,
	.ynmember-member-item-rating {
		text-align: center;
		margin-top: 20px;
		height: 30px;
		border-top: 1px solid $theme_border_color;
		background-color: rgba(0, 0, 0, 0.01);

		.ynmember_block {
			display: inline-block;
			margin: -15px auto 0 auto;
			background-color: $theme_body_background_color;
			border: 1px solid $theme_border_color;
			+ynmember-border-radius(15px);
			padding: 4px 10px 6px 10px;
		}
	}		

	.ynmember-review-item-reviews,
	.ynmember-member-item-review {
		text-align: center;
	}

	.ynmember-member-item-option {
		.ynmember-member-item-more-btn {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}

		.ynmember-member-item-option-hover {
			background-color: $theme_body_background_color;
			border: 1px solid $theme_border_color; 
			+ynmember-border-radius();
			display: none;
			position: absolute;
			top: 18px;
			right: 0;
			z-index: 1;

			#profile_options li {
				padding: 0 0.5em;
				font-size: 0.9em;
			}		
		}

		&.ynmember-member-item-option-show .ynmember-member-item-option-hover {
			display: block;
		}
	}	
}

.layout_main .layout_middle .layout_ynmember_browse_members {
	padding-bottom: 50px;

	& + div {
		margin-top: -50px;
	}
}

.ynmember-member-items {
	margin-left: -0.5em;
	margin-right: -0.5em;
	
	& > li {
		padding: 0.5em;
		width: 33.33%;
		float: left;
	}
}

div[class^="generic_layout_container layout_ynmember"] {
	margin-bottom: 1em;
}

.layout_ynmember_browse_search {
	#location-element {
		white-space: nowrap;
		
		.ynmember_location_icon {
			margin-left: -3px;
		}
	}

	#location-label,
	#done-wrapper .form-label,
	.browse-separator-wrapper {
		display: none;
	}

	.browsemembers_criteria > ul > * {
		margin-top: 0.5em !important;

		.form-label, & > span {
			font-size: 11px;
			margin-bottom: 0.2em;
			margin-top: 0;
		}
	}

	.browsemembers_criteria button {
		margin-top: 0;
	}
}

#global_page_ynmember-index-direction {
	.ynmember_widget_location_destination {
		label, img {
			float: left;
		}

		span {
			display: block;
			overflow: hidden;
		}
	}

	.get_current_position .buttonlink {
		padding-left: 0;
	}
}

.ynmember-birthday-day .ynmember-birthday-more {
	float: right;
}

.ynmember-birthday-input {
	position: relative;
	display: inline-block;

	input[type=text] {
		position: relative;
		z-index: 2;
		background-color: transparent;
	}

	i.fa {
		z-index: 1;
		position: absolute;
		right: 0;
		top: 4px;
	}
}

.ynmember-birthday-items {
	margin-left: -0.5em;
	margin-right: -0.5em;
	
	& > li {
		padding: 0.5em;
		width: 50%;
		float: left;
	}

	.ynmember-birthday-item {
		position: relative;
		width: 100%;
		padding-bottom: 100%;

		.ynmember-birthday-item-avatar a {
			position: absolute;
			top: 0;			
			left: 0;			
			width: 100%;
			height: 100%;
			display: block;
			+ynmember-border-radius(50%);
			overflow: hidden;

			span.ynmember-profile-image {
				width: 100%;
				height: 100%;
				border: 0;
			}
		}

		.ynmember-birthday-item-hover a {			
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;				
			width: 100%;
			height: 100%;
			display: none;
			+ynmember-border-radius(50%);
			+ynmember-text-overflow();
			background-color: rgba(0, 0, 0, 0.3);			
			color: #fff;

			overflow: hidden;
			text-align: center;
			padding: 0 0.6em;
			font-weight: normal;

			i { 
				display: block;
				margin: 1em auto 0.2em auto;
				font-size: 20px;
				font-weight: normal;
				color: #fff;
			}
		}

		&:hover .ynmember-birthday-item-hover a {
			display: block;
		}
	}
}

/*** ViewMode ***/
.ynmember-browse-listings-header {
	border-bottom: 1px solid $theme_border_color;
	padding-bottom: 0.3em;
	font-size: 1.1em;
	font-weight: bold;
	min-height: 32px;
	margin-bottom: 1em;	

	& > span {
		display: inline-block;
		margin-top: 10px;
	}

	.ynmember-mode-view {
		float: right; 

		span {
			display: block;
			float: left;
			width: 28px;
			height: 28px;
			cursor: pointer;
			background-image: url(~/application/modules/Ynmember/externals/images/icon-member-viewmode.png);
			background-repeat: no-repeat;

			&.ynmember-viewmode-list {
				background-position: 0 0;
			}		

			&.ynmember-viewmode-grid {
				background-position: -27px 0;
			}

			&.ynmember-viewmode-pinterest {
				background-position: -54px 0;
			}

			&.ynmember-viewmode-maps {
				background-position: -81px 0;
			}
		}

		&.ynmember-browse-viewmode-list {
			.ynmember-viewmode-list {
				background-position: 0 -27px;
			}
		}
	
		&.ynmember-browse-viewmode-grid {
			.ynmember-viewmode-grid {
				background-position: -27px -27px;
			}
		}
		
		&.ynmember-browse-viewmode-pinterest {
			.ynmember-viewmode-pinterest {
				background-position: -54px -27px;
			}
		}

		&.ynmember-browse-viewmode-maps {
			.ynmember-viewmode-maps {
				background-position: -81px -27px;
			}
		}
	}
}

#ynmember-browse-listings {
	position: relative;

	.ynmember-nodata {
		display: none;
	}

	.ynmember-item-action {
		display: none;
	}

	.ynmember-item-more-option {

		.ynmember-item-more-option-hover {
			display: none;
		}

		& > span.ynmember-item-more-btn {
			background-color: $theme_link_color;
			+ynmember-border-radius();
			display: block;
			cursor: pointer;

			i {
				display: block;
				color: $theme_body_background_color;
				padding: 0 2px;
				height: 20px;				
				line-height: 20px;
			}
		}

		&.ynmember-item-show-option .ynmember-item-more-option-hover {
			background-color: $theme_body_background_color;
			border: 1px solid $theme_border_color; 
			+ynmember-border-radius();
			display: block;
			position: absolute;
			z-index: 1;

			li {
				padding: 0.3em 0.8em;
			}
		}
	}

	&.ynmember-browse-viewmode-list {
		position: static;

		.ynmember-browse-item {
			padding: 1.5em 0;
			border-bottom: 1px solid $theme_border_color;

			.ynmember-item-cover {
				display: none;
			}

			.ynmember-item-avatar {
				float: left;
				width: 160px;
				text-align: center;

				span.ynmember-profile-image {
					border: 0;
					width: 160px;
					height: 160px;
					+ynmember-border-radius(80px);
				}

				.ynmember-item-featured {
					display: inline-block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 11px;
					padding: 4px 5px 4px 10px;
					top: -15px;
					background-color: #39b2ea;
					color: #fff;
					position: relative;
					-webkit-box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
					-moz-box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
					box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
				}

				.ynmember-btn-addfriend {
					display: none;
				}
			}

			& > .ynmember-item-information > div {
				overflow: hidden;
				padding-left: 1em;
				line-height: 1.5em;

				a {
					font-weight: bold;
				}

				&.ynmember-item-title {
					font-size: 1.2em;
					margin-bottom: 0.5em;
					+ynmember-text-overflow();

					.ynmember-item-status {
						display: inline-block;
						width: 8px;
						height: 8px;
						vertical-align: middle;
						background-color: $ynmember_offline_color;
						+ynmember-border-radius(4px);

						&.online {
							background-color: $ynmember_online_color;
						}
					}
				}

				&.ynmember-item-grid-social {
					display: none;
				}

				&.ynmember-item-info {
					span {
						color: $theme_border_dark_color;
					}
				}

				&.ynmember-item-about {
					font-style: italic;
				}

				&.ynmember-item-action {
					overflow: visible;
					margin-top: 0.5em;
					padding-left: 160px;
					display: block;
					margin-left: 1em;

					& > div {
						display: inline-block;
						vertical-align: middle;
					}

					.ynmember-item-more-option { 
						display: inline-block;
					}

					.ynmember-item-add-friend a {
						background-color: $theme_link_color;
						color: $theme_body_background_color;
						+ynmember-border-radius();
						display: block;
						height: 20px;
						font-weight: normal;
						text-decoration: none;
						line-height: 20px;
						padding: 0 0.5em;
					}

					.ynmember-item-mutual-friend {
						padding: 0.5em 0;
					}
				}
			}
		}

		.ynmember-browse-member-items {
			display: block;
		}

		.ynmember-browse-member-maps {
			display: none;
		}
	}
	
	&.ynmember-browse-viewmode-grid {
		margin-left: -0.5em;
		margin-right: -0.5em;

		& > ul > li {
			width: 33.33%;
			padding: 0.5em;
			float: left;
		}

		.ynmember-item-information {
			position: relative;
		}

		.ynmember-browse-item {			
			border: 1px solid $theme_border_color;
			border-bottom: 3px solid $theme_border_color;

			.ynmember-item-cover {
				.ynmember-profile-cover-picture {
					margin: 2px;
					height: 110px;
					background-repeat: no-repeat;
					background-position: top center;
					background-size: cover;
					background-color: $theme_border_color;
				}

				.ynmember-profile-cover-image {
					display: none;
				}
			}

			.ynmember-item-avatar {
				position: relative;
				min-height: 189px;
				text-align: center;

				a:not(.ynmember-btn-addfriend) {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;	
					width: 166px;
					height: 166px;
					background-color: $theme_body_background_color;
					padding: 3px;
					display: block;
					margin: -80px auto 0 auto;
					+ynmember-border-radius(82px);
				}

				span.ynmember-profile-image {
					border: 0;
					width: 160px;
					height: 160px;
					+ynmember-border-radius(80px);
				}

				.ynmember-item-featured {
					display: inline-block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 11px;
					padding: 4px 5px 4px 10px;
					top: -15px;
					background-color: #39b2ea;
					color: #fff;
					position: relative;
					-webkit-box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
					-moz-box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
					box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
				}

				.ynmember-btn-addfriend {
					display: block;
					position: absolute;
					top: 3px;
					left: 50%;
					margin-left: 35px;

					i {
						background-color: $theme_link_color;
						color: #fff;
						display: inline-block;
						+ynmember-border-radius(50%);
						font-size: 18px;
						line-height: 1;
						width: 24px;
						height: 24px;
						line-height: 26px;
						text-align: center;
						overflow: hidden;
					}
				}
			}

			.ynmember-item-title {
				text-align: center;
				padding: 0 0.5em;
				font-size: 1.2em;
				font-weight: bold;
				margin-bottom: 1em;
				+ynmember-text-overflow();

				.ynmember-item-status {
					display: inline-block;
					width: 8px;
					height: 8px;
					vertical-align: middle;
					background-color: $ynmember_offline_color;
					+ynmember-border-radius(4px);

					&.online {
						background-color: $ynmember_online_color;
					}
				}
			}

			.ynmember-item-grid-social {
				text-align: center;
				margin-bottom: -16px;
				height: 30px;
			}

			.ynmember-item-info {
				height: 80px;
				line-height: 1.5em;
				
				& > div {
					padding: 0 0.5em;
					text-align: center;
					+ynmember-text-overflow;

					&.ynmember-nodata {
				  		display: block;
				  	}
				}					

				a { 
					font-weight: bold; 
				}

				span {
					color: $theme_border_dark_color;
				}
			}

			.ynmember-item-about {
				border-top: 1px solid $theme_border_color;
				background-color: rgba(0, 0, 0, 0.01);
				padding-top: 20px;
				height: 70px;

			  	.ynmember-item-about-content {
			  		padding: 0 0.5em;
			  		height: 35px;
			  		text-align: center;
					font-style: italic;
			  		overflow: hidden;
			  		display: -webkit-box;
			  		-webkit-line-clamp: 2;
			  		-webkit-box-orient: vertical; 	
			  		word-break: break-all;
			  	}

			  	&.ynmember-nodata {
			  		display: block;
			  	}
			}

			.ynmember-item-action {
				display: block;

				& > a {
					display: none;
				}

				.ynmember-item-mutual-friend,
				.ynmember-item-add-friend {
					display: none;
				}

				.ynmember-item-more-option {
					position: absolute;
					top: -108px;
					right: 2px;

					.ynmember-item-more-btn {
						background-color: transparent;

						i {
							color: $theme_border_dark_color;
						}

						.fa-angle-down:before {
							content: "\\f013";
						}
					}

					&.ynmember-item-show-option .ynmember-item-more-option-hover {
						right: 0;
					}
				}
			}	
		}

		.ynmember-browse-member-items {
			display: block;
		}

		.ynmember-browse-member-maps {
			display: none;
		}
	}
	
	&.ynmember-browse-viewmode-pinterest {
		margin-left: -0.5em;
		margin-right: -0.5em;

		& > ul > li {
			padding: 0.5em;
			float: left;
		}

		.ynmember-item-information {
			position: relative;
		}

		.ynmember-browse-item {			
			border: 1px solid $theme_border_color;
			border-bottom: 3px solid $theme_border_color;

			.ynmember-item-cover {
				min-height: 90px;
				padding: 2px;

				.ynmember-profile-cover-picture {
					display: none;
				}

				.ynmember-profile-cover-image {
					min-height: 90px;
					background-color: $theme_border_color;
					border-color: $theme_border_color;
				}

				img {
					border: 0;
					width: 100%;					
				}
			}

			.ynmember-item-avatar {
				position: relative;
				min-height: 189px;
				text-align: center;

				a:not(.ynmember-btn-addfriend) {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;	
					width: 166px;
					height: 166px;
					background-color: $theme_body_background_color;
					padding: 3px;
					display: block;
					margin: -80px auto 0 auto;
					+ynmember-border-radius(82px);
				}

				span.ynmember-profile-image {
					border: 0;
					width: 160px;
					height: 160px;
					+ynmember-border-radius(80px);
				}

				.ynmember-item-featured {
					display: inline-block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 11px;
					padding: 4px 5px 4px 10px;
					top: -15px;
					background-color: #39b2ea;
					color: #fff;
					position: relative;
					-webkit-box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
					-moz-box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
					box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.3);
				}

				.ynmember-btn-addfriend {
					text-align: center;
					display: block;
					position: absolute;
					top: 3px;
					left: 50%;
					margin-left: 35px;

					i {
						background-color: $theme_link_color;
						color: #fff;
						display: inline-block;
						+ynmember-border-radius(50%);
						font-size: 18px;
						line-height: 1;
						width: 24px;
						height: 24px;
						line-height: 26px;
						text-align: center;
						overflow: hidden;
					}
				}
			}


			.ynmember-item-title {
				text-align: center;
				padding: 0 0.5em;
				font-size: 1.2em;
				font-weight: bold;
				margin-bottom: 1em;
				+ynmember-text-overflow();

				.ynmember-item-status {
					display: inline-block;
					width: 8px;
					height: 8px;
					vertical-align: middle;
					background-color: $ynmember_offline_color;
					+ynmember-border-radius(4px);

					&.online {
						background-color: $ynmember_online_color;
					}
				}
			}

			.ynmember-item-grid-social {
				text-align: center;
				margin-bottom: -16px;
				height: 30px;
			}

			.ynmember-item-info {
				padding-bottom: 0.5em;
				line-height: 1.5em;
				
				& > div {
					padding: 0 0.5em;
					text-align: center;
					+ynmember-text-overflow;
				}					

				a { 
					font-weight: bold; 
				}

				span {
					color: $theme_border_dark_color;
				}
			}

			.ynmember-item-about {
				border-top: 1px solid $theme_border_color;
				background-color: rgba(0, 0, 0, 0.01);
				padding-top: 20px;
				padding-bottom: 1em;

			  	.ynmember-item-about-content {
			  		padding: 0 0.5em;
			  		max-height: 52px;
			  		text-align: center;
					font-style: italic;
			  		overflow: hidden;
			  		display: -webkit-box;
			  		-webkit-line-clamp: 3;
			  		-webkit-box-orient: vertical; 	
			  	}
			}

			.ynmember-item-action {
				display: block;

				& > a {
					display: none;
				}

				.ynmember-item-mutual-friend,
				.ynmember-item-add-friend {
					display: none;
				}

				.ynmember-item-more-option {
					position: absolute;
					top: -108px;
					right: 2px;

					.ynmember-item-more-btn {
						background-color: transparent;

						i {
							color: $theme_border_dark_color;
						}

						.fa-angle-down:before {
							content: "\\f013";
						}
					}

					&.ynmember-item-show-option .ynmember-item-more-option-hover {
						right: 0;
					}
				}
			}			
		}

		.ynmember-browse-member-items {
			display: block;
		}

		.ynmember-browse-member-maps {
			display: none;
		}
	}

	&.ynmember-browse-viewmode-maps {
		.ynmember-browse-member-items {
			display: none;
		}

		.ynmember-browse-member-maps {
			display: block;
		}
	}	
}

.ynmember-member-of-item {
	position: relative;

	.ynmember-of-item-avatar {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		+ynmember-border-radius(50%);

		span.ynmember-profile-image {
			border: 0;
			position: absolute;
			+ynmember-border-radius(50%);
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.ynmember-of-item-title {
		margin-top: 0.5em;
		display: block;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		+ynmember-text-overflow();
	}

	.ynmember-of-item-info {
		display: none;
	}

	&:hover {
		.ynmember-of-item-avatar:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			+ynmember-border-radius(50%);
			position: absolute;			
		}

		.ynmember-of-item-info {
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			padding: 15%;
			height: 85%;

			* { 
				color: #fff;
				line-height: 1.4em;

				a { font-weight: bold; }
			}
		
			.ynmember-btn-addfriend {
				text-align: center;
				display: block;

				i {
					background-color: $theme_link_color;
					color: #fff;
					display: inline-block;
					+ynmember-border-radius(50%);
					font-size: 18px;
					line-height: 1;
					width: 24px;
					height: 24px;
					line-height: 26px;
					text-align: center;
					overflow: hidden;
				}
			}

			& > * {
				+ynmember-text-overflow();
			}

			.ynmember-of-item-mutual {
				margin: 0.5em 0;
				text-align: center;

				& > div {
					text-align: center;
				}

				.ynmember-of-item-mutuals > div {
					display: inline-block;

					&.ynmember-of-item-mutual-avatar {
						margin:0 0.2em;

						span.ynmember-profile-image {
							border: 0;
							width: 40px;
							height: 40px;
							+ynmember-border-radius(20px);
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}

.ynmember-suggestion-title-top {
	border-bottom: 1px solid $theme_border_color;
	padding: 0.5em;
	margin: 0.5em 0;
	white-space: nowrap;

	input {
		width: 300px;
	}

	.ynmember-suggestion-search-btn {
		padding: 0.3em 0.5em;
		font-size: 1em;
	}
}

.ynmember-suggestion-item {
	padding: 0.5em;
	min-width: 320px;

	& + .ynmember-suggestion-item {
		border-top: 1px solid $theme_border_color;
	}

	.ynmember-suggestion-item-photo {
		float: left;
		margin-right: 0.5em;
	}

	.ynmember-suggestion-item-button {
		float: right;
		margin-left: 0.5em;

		button {
			font-weight: normal;
			padding: 0.3em 0.5em;
			font-size: 1em;
		}
	}

	.ynmember-suggestion-item-title {
		overflow: hidden;
		+ynmember-text-overflow();
	}
}

.ynmember-widget-rating-item {
	padding: 0.2em 0.5em 0.5em 0.5em;
	border-bottom: 1px solid $theme_border_color;

	&.ynmember-widget-rating-header {
		background-color: $theme_border_color;
		+ynmember-border-radius();
	}

	.ynmember-widget-rating-label {
		float: left;
		margin-top: 0.5em;
		font-weight: bold;
	}

	.ynmember_block {
		float: right;
	}
}

.layout_ynmember_profile_statistics {
	background-color: $theme_border_color;
	padding: 0.5em;
	+ynmember-border-radius();

	i.fa {
		color: $theme_font_color;
	}

	a {
		font-weight: bold;
	}

	div + div {
		margin-top: 0.2em;
	}
}

body[id^=global_page_ynmember] .global_form div.form-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*** form style ***/
.global_form.ynmember-form-edit-relationship,
.global_form.ynmember-form-edit-relationship > div,
.global_form.ynmember-form-edit-relationship > div > div,
.ynmember-form-edit-relationship div#relationship-wrapper {
	overflow: visible;
}

#confirm_form > div {
	width: 50%;
	float: none;
	margin: 0;
}

.ynmember-suggestion-des
{
	color: $theme_border_dark_color;
	padding: .8em .8em .0em;
}

/*** fix slideshow ***/
.content_slider_text_block_wrap {
	h3 {
		background-color: transparent;
		font-weight: bold;
		+ynmember-text-overflow();
	}

	a {
		color: $theme_link_color;
	}

	.ynmember-item-info > div {
		text-align: center;
		+ynmember-text-overflow();
	}
}

.image_more_info img {
	border: 0;
    background: $theme_link_color;
}

.circle_slider .circle_slider_thumb img {
	border: 1px solid $theme_border_color;
	display: block;
}

.ynmember-review-item-reviews {
	text-align: center;
	margin-top: -15px;
}
.ynmember_generic_list_widget
{
	min-width: 210px;
	margin-top: 15px;
	margin-left: 15px;
}

/*** profile place ***/
body[id=global_page_ynmember-edit-add-live-place] {
	.form-label {
		display: none;
	}
}
.ynmember-profile-place-item {
	padding-bottom: 1em;

	& + .ynmember-profile-place-item {
		padding-top: 1em;
	}	

	h3 {
		border-bottom: 1px solid $theme_border_color;
		margin-bottom: 0.5em;
	}

	.ynmember-profile-place-item-item {
		border-bottom: 1px solid $theme_border_color;
		padding-bottom: 0.5em;
		margin-bottom: 0.7em;

		& > i {
			float: left;
			width: 30px;
			margin-top: 0.2em;
			margin-right: 0.5em;
			font-size: 24px;
		}

		& > div {
			float: right;
		}

		& > .ynmember-profile-place-info {
			float: none;
			overflow: hidden;
		}		
	}
}
.ynmember-birthday-input{
	margin-bottom: 10px;
}

.ynmember_hidden{
	display: none;
}

#ynmember_place_form_notification span{
	width: 89%;
}

.layout_ynmember_profile_fields > ul {
	padding: 10px;

	& > li {
		overflow: hidden;

		& + li {
			margin-top: 8px;
		}

		& > span {
			display: block;
			float: left;
			overflow: hidden;
			width: 175px;
			margin-right: 15px;

			& + span {
				min-width: 0px;
				display: block;
				float: none;
				overflow: hidden;
				width: auto;
			}
		}
	}
}

#global_page_ynmember-edit-place .ynmember-container {
	padding-bottom: 35px;
}